@model HomeViewModel
<head>
	<link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
	<div class="row mt-5 mb-2 ml-5">
		@{
		foreach (Reagent reagent in Model.FavReagents){
				@Html.Partial("AllReagents", reagent)
		}
	}
	</div>
</body>